<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>|Todo App|</title >
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="todo-container">
        <div class="deletetodo">
            <h2>Delete Todo</h2>
        </div>
        <div class="backtodo">
        <a href="/">Back</a>
        </div>
        <div class="confirm">
            <p class="comfirm-text">Are you sure you want to delete this todo?</p>
            <a href="/"class="deleteyes">Yes</button>
            <a href ="/"class="deleteno" >No</button>
        </div>
    </div>

</body>
</html>
