<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>|Todo App|</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="todo-container">
        <h2>Todo App</h2>
        <h3>List todo</h3>
        <div class="btn">
            <a href="/newtodo" class="btn">New Todo</a>
            <div class="todo-table">
                <table>
                     <tr>
                        <th>Todo Title</th>
                        <th>Todo Description</th>
                        <th>Created On</th>
                        <th>Updated On</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                         <td>item1</td>
                         <td>item2</td>
                         <td>item3</td>
                         <td>item4</td>
                         <td>
                         <a class="btn" href="/updatetodo">Update</a>
                         <a class="btn" href="/deletetodo">Delete</a>


                         </td>
                     </tr>
                </table>   
            </div>
        </div>
    </div>
    </body>
</html>
