<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="todo-h">
        <h1>Todo App</h1>
        <div class="todo-btn">
            <button>Add Todo</button>
            <div class="todo-table">
                <tr>
                    <th>item1</th>
                    <th>item2</th>
                    <th>item3</th>
                    <th>item4</th>
                    <th>item5</th>
                </tr>
                <br/>
                <tr>
                    <th>item1</th>
                    <th>item2</th>
                    <th>item3</th>
                    <th>item4</th>
                    <th>item5</th>
                </tr>
            </div>
        </div>
    </div>
    </body>
</html>
